/P1/mavenproject1/target/
/P1/AplicacionAula/AplicacionAula/build/
/P1/CuestionesBasicas/nbproject/private/
/P1/CuestionesBasicas/build/
/P1/CuestionesBasicas/dist/
/P1/InterfacesUsuario/nbproject/private/
/P2/InterfacesUsuario/dist/
/P2/InterfacesUsuario/build/
/P1/EjemploEventos/nbproject/private/
/P3/EjemploEventos/build/
/P3/EjemploEventos/dist/
/P3/LineasyPuntos/nbproject/private/
/P3/LineasyPuntos/build/
/P3/LineasyPuntos/dist/
/P3/EscritorioSM/nbproject/private/
/P3/EscritorioSM/build/
/P3/EscritorioSM/dist/
/P3/PaintBasico/nbproject/private/
/P3/PaintBasico/build/
/P4/PaintBasico/build/
/P4/PaintBasico/nbproject/private/
/P4/PaintBasico/dist/
/P3/Formas/nbproject/private/
/P3/Formas/build/
/P3/Formas/dist/
